.glow-btn {
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  height: 30px;
  outline: none;
  width: 45px;

  &.small-glow {
    height: 20px;
    width: 25px;
  }

  &.big-glow {
    height: 55px;
    width: 75px;
  }

  &.glow-on {
    background-image: url("/src/images/glow-on.svg");
    background-repeat: no-repeat;
  }

  &.glow-off {
    background-image: url("/src/images/glow-off.svg");
    background-repeat: no-repeat;
  }
}
