.glow-btn {
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  outline: none;
  width: 45px;
  height: 35px;
}

.small-glow {
  width: 25px;
  height: 20px;
}

.big-glow {
  width: 75px;
  height: 55px;
}

.glow-on {
  background-image: url(./glow-on.svg);
  background-repeat: no-repeat;
}

.glow-off {
  background-image: url(./glow-off.svg);
  background-repeat: no-repeat;
}