.nav-item {
  font-size: 1.2em;
  margin-left: 50px;
}
.nav-link {
  margin-left: 80px;
  color: #606E86!important;
}
.active::after{
  content: "";
  display: block; 
  margin: 0 auto; 
  width: 50%;
  float: right;
  border-bottom: 2px solid #606E86;
}
