.fa {
    color: #FFD15C;
    font-size: 35px
}
.rate .star {
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }
  
  /* prev siblings should be red */
  .rate:hover i {
    color: #FFD15C;
  }
 
  .rate .star:hover ~ i {
    color: #FFD15C;
  }
