$star-default: #ffd15c;

.rate {
  .fa {
    color: $star-default;
    font-size: 18px;
  }
  .rate .star {
    overflow: hidden;
    position: relative;
  }
  
  .rate:hover i {
    color: $star-default;
  }
  
  .rate .star:hover ~ i {
    color: $star-default;
  }
}
