$star-default: #ffd15c;

.rate {
  .rate:hover i {
    color: $star-default;
  }
  
  .fa {
    color: $star-default;
    font-size: 35px;
  }
  
   .star {
    overflow: hidden;
    position: relative;
  }
  
  
  
  .star:hover ~ i {
    color: $star-default;
  }
}
