$star-default: #ffd15c;

.fa {
  color: $star-default;
  font-size: 18px;
  margin-bottom: -3px;
}

.rate .star {
  overflow: hidden;
  position: relative;
}

.rate:hover i {
  color: $star-default;
}

.rate .star:hover ~ i {
  color: $star-default;
}
