@import '../../../../styles/variables.scss';

.article-create-container {
  position: relative;
  min-height: calc(100vh - 65px)!important;
  overflow: hidden!important;
  .post-article-button {
    background-color: $password-reset__body--color;
    border-radius: 0.2em;
    color: rgb(221, 218, 218);
    cursor: pointer;
    font-size: 1.4em;
    height: 2em;
    margin-left: 68%;
    position: fixed;
    width: 12%;
}

.post-article:hover {
 opacity: 0.9;
}

  .create-article-container {
    margin-top: 5%;
    display: grid;
    width:60%;
    margin:0 auto;
  
    .medium-editor-element {
      white-space: normal;
      // font-family: "Cardo", serif;
      padding-left: 10px;
    }
    .medium-editor-element:focus {
      border-left: 1px solid rgb(179, 179, 179);
    }
    .title-text {
      width: 100%;
      // border: none;
      background-color: #f9f9f9;
      border: none;
      border-color: rgb(0, 0, 0);
      white-space: normal;
    }
    input:focus {
      border: none;
      outline: none;
    }
    .create-articles {
      * {
        // box-sizing: border-box;
        // text-align: justify;
        // margin: 0 auto;
        height: border-box;
        // textarea {
        //   width:200px;
        //   resize:none;
        //   overflow:hidden;
        //   font-size:18px;
        //   height:1.1em;
        //   padding:2px;
        // }
      }
      &.__discription {
        font-size: 1.5em;
      }
      &.__text {
        padding-bottom: 30%;
        white-space: normal;
        font-size: 1.5em;
      }
      &.__title {
        font-size: 2em;
        white-space: normal;
      }
    }
  }
}
