.create-article-container {
  margin-top: 5%;

  .create-articles {
    * {
      box-sizing: border-box;
      text-align: justify;
    }

    &.__button {
      float: right;
      font-size: 20px;
      height: 2.5em;
      margin: 2% 7% 0 0;
      width: 11%;
    }
    &.__text {
      font-size: 1.5em;
      margin: 5% 0 15% 0;
      padding: 0 5%;
    }
    &.__title {
      font-size: 3em;
      margin-top: 11%;
      padding: 0 5%;
    }
  }

  .medium-editor-element {
    white-space: normal;
    font-family: "Cardo", serif;
  }
}
