@import "./variables.scss";
$heimdal-footer-background: #606e86;
$heimdal-text-color: #fff;
$heimdal-link-hover: whitesmoke;
$heimdal-textfield-background: #6a7384;

$black: #000;
$bg-default: #606e86;
$bg-twitter-blue: #00b4fa;
$bg-google-red: #f13921;
$bg-facebook-blue: #2a59a1;

.btn-badge {
  padding: 10px 15px;
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
  margin-right: 5px;
}

.vh-50 {
  min-height: 50%;
}

.btn,
.btn:focus,
.btn:hover {
  border: 0;
  border-radius: 3px;
  color: #ffffff;
  outline: none;
}

.btn-default {
  background-color: $bg-default;
}
a {
  color: #000000;
}

a:hover {
  color: #4242427f;
}

.react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.react-paginate li {
  display: inline-block;
  margin: 10px;
}
.break-me li {
  display: none;
}
.rc-pagination-item-active {
  background-color: #434343;
  border-color: #f2f2f2;
  color: #f2f2f2 !important;
  text-align: center;
  border-radius: 0%;
}
.rc-pagination a {
  color: #434343;
}

.rc-pagination a:hover {
  color: #424242;
}
.react-paginate li {
  border-radius: 0%;
}
.react-paginate li:hover {
  border-radius: 0%;
  border-color: #434343;
  color: #434343 !important;
  // background-color: #f2f2f2 !important;
}
.react-paginate ul {
  margin-top: 30px !important;
}
.activeo{
  border: solid 1px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  // border-bottom: 10px;
}