$reem-kufi: "Reem Kufi", sans-serif;
$cardo: "Cardo", serif;
$ovo: "Ovo", serif;
$white-color: #ffffff;
$heimdal-comment-border: #c4c4c4;
$heimdal-footer-background: #606e86;
$heimdal-text-color: #fff;
$heimdal-link-hover: whitesmoke;
$heimdal-textfield-background: #6a7384;
$password-reset__body--color: #606e86;
$font-family__cardo: 'Cardo', serif;
$font_family_reem-kufi: 'Reem Kufi', sans-serif;
$heimdal-private-comment-color: #a29595;
$heimdal_red_color: #ef153e;
