$reem-kufi: "Reem Kufi", sans-serif;
$cardo: "Cardo", serif;
$ovo: "Ovo", serif;
$white-color: #ffffff;
$heimdal-comment-border: #c4c4c4;
$black: #000000;
$black-color: #000;
$heimdal-footer-background: #606e86;
$heimdal-text-color: #fff;
$heimdal-link-hover: whitesmoke;
$heimdal-textfield-background: #6a7384;
$password-reset__body--color: #606e86;
$font-family__cardo: "Cardo", serif;
$font_family_reem-kufi: "Reem Kufi", sans-serif;
$heimdal-private-comment-color: #a29595;
$profile-header-color: #606e86;
$layout-bg-color: #f9f9f9;
$heimdal-border-color: #c4c4c4;
$heimdal_red_color: #ef153e;
$search-articles__tr--bg-color: #9096a1;
$font-family__ovo: "Ovo", serif;
$profile-header-color: #606e86;
$layout-bg-color: #f9f9f9;
$heimdal_primary_color: #606e86;
