@import '../../../styles/variables.scss';
$break-small: 640px;

.userdashboard {
  margin-top: 60px;

  .dashboard {
    font-family: $font-family__cardo;
    font-size: 1.2em;
    margin-top: 60px;
    margin-bottom: 50px;
    padding-top: 40px;
    padding-bottom: 60px;
    border-bottom: 1px solid $heimdal-border-color;
    color: $password-reset__body--color;

    @media screen and (max-width: $break-small) {
      font-size: 15px!important;
      width: 100%;
    }
  }

  .userdashboard_notification a {
    color: $password-reset__body--color;
    cursor: pointer;
  }
}
