@import '../../../styles/variables.scss';

.comment-header {
  font-family: $font_family_reem-kufi;
  padding-top: 40px;
  font-size: 38px;
  text-align: center;
}
.comment__form {
  margin-bottom: 30px;
}