$default-color: #00b4fa;
$white-color: #ffffff;
$btn-google: #f13921;
$btn-facebook: #2a59a1;
$btn-most: #606e86;
$shadow: rgba(77, 56, 56, 0.3);
$shadow2: rgba(107, 105, 105, 0.2);
$shadow3: rgba(107, 105, 105, 0.8);
$reem-kufi: 'Reem Kufi', sans-serif;
$cardo: 'Cardo', serif;
$ovo: 'Ovo', serif;

.password-reset {
    &.footer {
        height: 5em;
        width: 100%;
        background: $btn-most;
        color: $white-color;
    }

    &.header {
        height: 5em;
        width: 100%;
        background: $btn-most;
        color: $white-color;
    }

    &.body {
        height: 5em;
        width: 100%;
        color: $btn-most;
    }

    &.input-reset-password {
        width: 70%;
        color: $btn-most;
        font-family: $cardo;
        font-weight: bold;
    }
}