@import '../../../styles/variables.scss';

.password-reset {
  p {
    font-size: 20px;
    text-align: center;
  }

  &.box {
    color: $password-reset__body--color;
    height: 25em;
    margin: 0 35%;
    padding: 7em 1em 0 1em;
  }

  &.update-box {
    @extend .box;
    padding: 5em 1em 0 1em;
  }

  &.submit-button {
    background-color: $password-reset__body--color;
    border-radius: 0.2em;
    color: rgb(221, 218, 218);
    cursor: pointer;
    font-size: 1.3em;
    margin: 0.3% 0 0 65%;
    width: 35%;
  }

  &.input-reset-password {
    border: 0.5px solid $font-family__cardo;
    color: $password-reset__body--color;
    font-family: $font-family__cardo;
    font-size: 20px;
    font-weight: bold;
    padding: 0.5em;
    width: 100%;
  }

}
