@import '../../../../styles/variables.scss';

.reply-body {
  margin-left: 30px;
}
.reply-name {
  margin-left: 40px;
}

.small_text {
  margin-left: 20px;
}

.sweet-loading {
  margin-top: 30px;
  margin-left: 80px;
}
.css-1w806nb-style {
  border-color: $heimdal-footer-background!important;
}
.css-1fck07m-wrapper {
  margin-right: 20px!important;
  width: 300px!important;
}
.css-tut6ph-style {
  background-color: $heimdal_red_color!important;
}