.bookmarks-cards {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr, 2fr, 1fr;
  border: 0.5px solid #cfcfcf;
  padding: 0 15px 15px 15px;
  text-align: justify;
  .bookmarks-header {
    display: grid;
    grid-template-columns: 95% 5%;
    font-family: "Ovo", serif;
    h2 {
      margin-top: 5px;
    }
    .bookmark-logo{
      width: 20px;
    }
  }
  .text-content {
    display:grid;
    grid-template-columns: 90% 10%;
  }
  .user-section {
    display: grid;
    grid-template-columns: 90% 10%;
    font-family:"Ovo", serif;
    .user-image {
      width: 40px;
      border-radius: 50%;
    }
    .username {
      display: 'inline-block';
      padding-left: 7px;
    }
  }

}