$default-color: #00b4fa;
$white-color: #ffffff;
$btn-google: #f13921;
$btn-facebook: #2a59a1;
$btn-most: #606e86;
$shadow: rgba(77, 56, 56, 0.3);
$shadow2: rgba(107, 105, 105, 0.2);
$shadow3: rgba(107, 105, 105, 0.8);
$reem-kufi: 'Reem Kufi', sans-serif;
$cardo: 'Cardo', serif;
$ovo: 'Ovo', serif;

*{
  box-sizing: border-box;
  background-color: #F9F9F9;
}
.bookmarks-cards {
    width: 700px;
    height: 280px;
    border: 1px solid rgba(77, 56, 56, 0.1);
    padding-left: 12px;
    position: relative;

  .text {
      font-family: $ovo;
      font-size: 20px
    };

    .header{  
      h1{
        font-family: $cardo;
        font-size: 30px;
        font-weight: bolder;
        display: inline-block;
        padding-top: 10px;
        padding-left: 10px;
        margin-left: -10px;
      };
      .bookmark-logo {
        width: 55px;
        height: 59px;
        padding: 0px;
        margin: -7px 0 0 0;
      }; 
    };
    .username {
      font-family: $cardo;
      font-size: 30px;
      color: $btn-most;
    };
    .user-section{
      .glow-text {
        color: $btn-most;
        font-family: $ovo; 
      };
      .user-image {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-bottom: 10px;
        font-weight: 200;
      }
    };   
};

.article-card-2 {
  width: 300px;
  font-family: $cardo;
  border: '0rem';
  .card-text {
    font-size: 14px;
    color: black; 
  };
  .comment {
    font-size: 15px;
    padding-left: 15px;
    margin-top: 12px;
  };
  .user-name {
    font-size: 15px;
    padding-left: 10px;
    display: 'inline-block'
  };
  .card-body {
    padding: 0px;
  };

  .user-image {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-weight: 200;
  };

  .updated-time {
    color: #000000; 
    font-size: 14px;  
  };
  .ratings {
    margin-top: 10px;
  };
};

.article-card1 {
  font-family: $ovo;

  .card-text {
    color: #000000;
    font-size: 12px;
    font-weight: lighter;
  };

  .card-title {
    font-weight: 1000;
  };

  .user-image {
    border-radius: 50%;
    font-weight: 200;
    height: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 20px;
  };

  .comment {
    font-size: 13px;
    padding-left: 30px;
  };

  .user-name {
    font-size: 10px;
    padding-left: 10px;
  };
};

.fs-13 { 
  font-size: 13px;
};

.card {
  border: 0;
  position: relative;
};

.card-buttom {
  bottom: 0px;
  position: absolute;
};

.high {
  max-height: 80px;
};

.m-r-0 {
  margin-right: -5px;
};

.m-t-10 {
  margin-top: 10px;
};

.m-r-15 {
  margin-right: 15px;
};

.p-t-5 {
  padding-top: 10px;
};
