@import '../../../styles/variables.scss';

.search-articles {
	table {
		background-color: $white-color;
		border-collapse: collapse;
		box-shadow: 2px 2px 6px rgb(136, 134, 134);
		color: $search-articles__tr--bg-color;
		font-family: 'Roboto, sans-serif';
		font-size: 17px;
		position: absolute;
		right: 4.5%;
		top: 3.6em;
		width: 30%;
		z-index: 2;
	}

	td,
	th {
		padding: 10px 10px 10px 30px;
	}

	a {
		color: $heimdal-textfield-background;
	}

	a:hover {
		opacity: 0.5;
		text-decoration: none;
	}
}

.search-articles-full-body {
	&.header-formm {
		margin: 4% 30% 2% 30%;
  }

	&.returned-articles{
		margin: 0 34%;
  }
  
	a {
		color: $black;
	}

	a:hover {
		opacity: 0.5;
		color: blueviolet;
		text-decoration: none;
	}
}
