$primary-color: #606E86;
$secondary-color : #ffff;
$reem-kufi: 'Reem Kufi', sans-serif;
$cardo: 'Cardo', serif;
$dropdown-content: #f1f1f1;
$dropdown-content-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

.header {
  font-family: $reem-kufi;

  .navbar {
    background: $secondary-color;
  }

  .bg-light {
    background-color: $secondary-color !important;
  }

  .header-form {
    margin-top: -10px !important;
    padding: 10px;
    margin-right: 20px;
  }

  .header-input {
    display: none !important;
  }

  .active_user_logo {
    margin-right: 70px;
  }

  .notification_icon {
    width: 35px;
    margin-right: 60px;
  }

  .profile-icon {
    width: 30px;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .search-input {
    margin-right: 10px!important;
  }

  .search_icon {
    color: $primary-color;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    cursor: pointer;
  }

  .username {
    font-size: 18px;
    text-align: center;
    padding: 10px;
    &::after {
      content: '';
      display: block;
      margin: 0 auto;
      width: 90%;
      margin-top: 12px;
      border-bottom: 1px solid $primary-color;
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: $dropdown-content;
    min-width: 160px;
    box-shadow: $dropdown-content-shadow;
    z-index: 1;
    font-family: 'Cardo', serif;
    a {
      color: $primary-color;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      &:hover {
        background-color: $primary-color;
        color: $secondary-color;
      }
    }
  }

  .user_settings::before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 90%;
    border-top: 1px solid $primary-color;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}
