$cardo: "Cardo", serif;
$dropdown-content: #f1f1f1;
$dropdown-content-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
$primary-color: #606e86;
$secondary-color: #ffff;
$reem-kufi: "Reem Kufi", sans-serif;

.header {
  font-family: $reem-kufi;

  .navbar {
    background: $secondary-color;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  }

  .bg-light {
    background-color: $secondary-color !important;
  }

  .header-form {
    padding: 10px;
    margin-right: 20px;
    margin-top: -10px !important;
  }

  .header-input {
    display: none !important;
  }

  .active_user_logo {
    margin-right: 70px;
  }

  .notification_icon {
    margin-right: 60px;
    width: 35px;
  }

  .profile-icon {
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 30px;
  }

  .search-input {
    margin-right: 10px !important;
    width: 150px;
  }

  .search_icon {
    -webkit-transform: scaleX(-1);
    color: $primary-color;
    cursor: pointer;
    transform: scaleX(-1);
  }

  .username {
    font-size: 18px;
    padding: 10px;

    &::after {
      border-bottom: 1px solid $primary-color;
      content: "";
      display: block;
      margin: 0 auto;
      margin-top: 12px;
      width: 90%;
    }
    text-align: center;
  }

  .dropdown {
    display: inline-block;
    position: relative;
  }

  .dropdown-content {
    background-color: $dropdown-content;
    box-shadow: $dropdown-content-shadow;
    display: none;
    font-family: "Cardo", serif;
    min-width: 160px;
    position: absolute;
    z-index: 1;

    a {
      color: $primary-color;
      display: block;
      padding: 12px 16px;
      text-decoration: none;
      &:hover {
        background-color: $primary-color;
        color: $secondary-color;
      }
    }
  }

  .user-settings::before {
    border-top: 1px solid $primary-color;
    content: "";
    display: block;
    margin: 0 auto;
    width: 90%;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    margin-right: 60px;
  }
}
