body {
  margin: 0;
}
.header {
  font-family: 'Reem Kufi', sans-serif;
}
.navbar {
  background: #ffff;
}
.logo {
  width: 10%x;
  height: 70px;
}
.bg-light {
  background-color: #ffff!important;
}
.header-button {
  color:#ffff;
  background: #606E86;
  padding: 5px 20px;
  border: 1px solid #ffff;
  border-radius: 5rem;
  font-size: 1em;
  margin: 7px;
  margin-right: 20px;
  margin-top: -2px;
}

.header-form {
  margin-top: -10px!important;
  padding: 10px;
  margin-right: 20px
}
.header-input {
  display: none!important;
} 
.header-button-group {
  margin-right: 30px;
}

.active_user_logo {
  margin-right: 70px;
}
.notification_icon {
  width: 35px;
  margin-right: 60px;
}
.profile-icon {
  width: 30px;
  margin-left: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.search_icon {
  color: #606E86;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  cursor: pointer;
}

.username {
  font-size: 18px;
  text-align: center;
  padding: 10px;
}
.username::after {
  content: '';
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 90%; /* Change this to whatever width you want. */
  margin-top: 12px; /*This creates some space between the element and the border. */
  border-bottom: 1px solid #606E86; /* This creates the */
}
/* Dropdown Button */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'Cardo', serif;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #606E86;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #606E86;
  color: #ffff;
}

.user_settings::before {
  content: '';
  display: block; 
  margin: 0 auto;
  width: 90%;
  // margin-top: 20px; 
  border-top: 1px solid #606E86; /* This creates the */
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
